:root {
  --color-1: hsl(158, 36%, 37%);
  --color-2: hsl(158, 42%, 18%);
  --color-3: hsl(212, 21%, 14%);
  --color-4: hsl(228, 12%, 48%);
  --color-5: hsl(30, 38%, 92%);
  --color-6: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fontone {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.fonttwo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.fontthree {
  font-family: "Fraunces";
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 0.875em;
}

article {
  margin: 1em;
  border-radius: 1em;
  background-color: var(--color-6);
  max-width: 21.5em;
  .topsec {
    img {
      width: 100%;
      padding-bottom: 1em;
      border-radius: 1em 1em 0em 0em;
    }
  }
  .midsec {
    padding: 0em 2em;
    .space {
      letter-spacing: 0.5em;
      color: var(--color-4);
      padding: 1em 0em 2em 0em;
      text-transform: uppercase;
      font-size: 0.75em;
    }
    h1 {
      color: var(--color-3);
      line-height: 100%;
      padding-bottom: 0.75em;
    }
    p {
      color: var(--color-4);
      line-height: 1.5em;
      text-align: start;
      padding-right: 0.5em;
    }
  }
  .bottomsec {
    padding: 1em 2em;
    h2 {
      color: var(--color-1);
      padding-bottom: 0.5em;
      font-size: 2em;
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
    h2 span {
      font-size: 0.4em;
      text-decoration: line-through;
      color: var(--color-4);
    }
    p {
      color: var(--color-4);
    }
    button {
      color: var(--color-6);
      background-color: var(--color-1);
      border: none;
      padding: 1em;
      border-radius: 0.5em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      transition: 0.3s ease all;
    }
    button:hover {
      background-color: var(--color-2);
    }
  }
}

footer {
  font-size: 0.75em;
  text-align: center;
  color: var(--color-3);
  a {
    text-decoration: none;
    color: var(--color-3);
  }
}

@media screen and (min-width: 768px) {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40em;

    .left,
    .right {
      max-width: 19em;
      width: 19em;
    }

    .topsec {
      img {
        display: block;
        padding-bottom: 0;
        border-radius: 1em 0 0 1em;
      }
    }

    .midsec,
    .bottomsec {
      width: 100%;
    }
  }
}
